
.size{
height: 210px;
width: 410px;
position: absolute;     
top: 38%;               
left: 49%;              
margin-top: -100px;     
margin-left: -200px;    
}
div.L {
    text-align: left;
  }
  div.R {
    text-align: right;
  }